<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplikasi Authserver</title>
</head>
<body>
<h1>Aplikasi Auth Server</h1>

<div>
    <ul>
        <li>Current User : <span th:text="${#authentication.name}">endy</span></li>
        <li>Authority : <span sec:authentication="principal.authorities">daftar permission</span></li>
    </ul>
</div>

<ul>
    <li sec:authorize="hasAuthority('EDIT_TRANSAKSI')"><a href="#">Entri Transaksi</a></li>
    <li sec:authorize="hasAuthority('VIEW_TRANSAKSI')"><a href="#">Rekap Transaksi</a></li>
</ul>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>

</body>
</html>